<div id="{{section.group}}" class="section-anchor scrollspy"></div>

<section id="{{section.group}}" class="row-full scrollspy" style="background-color:{{section.bgcolor}}">
  <div class="container">


   <div class="col-md-12">

   	<br>
	<h3><strong>ABOUT</strong></h3>


 <div class="row">
   <div class="col s12 m6">

  <br>
  <br>
	<h5><strong><em> What do we do? </strong></em></h5>
	<p> Our lab takes an interdisciplinary approach -- combining techniques and expertise from synthetic chemistry, inorganic chemistry, biochemistry, biophysics, and structural biology -- to answer challenging questions about the regulation of RNA function and its links to human disease.</p>
	</div>

   <div class="col s12 m6">

	<img class="responsive-img" style="width:90%" align="right" src="{{site.baseurl}}/static/img/techniques_overview.png" alt="diverse techniques"></img>

	</div>
      </div>


    <div class="col-md-12">
      {{ section.content }}
    </div>
  </div>
</section>