<div id="{{section.group}}" class="section-anchor scrollspy"></div>

<section id="{{section.group}}" class="row-full scrollspy" style="background-color:{{section.bgcolor}}">
  <div class="container">
    <div class="col-md-12">

	{{section.content}}  

<div style="text-align: center">

<a class="twitter-timeline" data-lang="en" data-chrome="transparent" data-width="700" data-height="500" data-link-color="#2B7BB9" data-theme="light" href="https://twitter.com/mugridgelab?ref_src=twsrc%5Etfw">Tweets by mugridgelab</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

<br>
<br>


    </div>
  </div>
</section>