<div id="{{section.group}}" class="section-anchor scrollspy"></div>

<section id="{{section.group}}" class="row-full scrollspy" style="background: lightgrey url('{{site.baseurl}}/static/img/UD-campus-2.jpg'); background-size: 100vw; background-repeat: no-repeat">
  <div class="container">
    <div class="col-md-12">
	<span style="color:white">
      {{ section.content }}
	</span>

	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3070.6593797519818!2d-75.75317004930255!3d39.67987610794517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMznCsDQwJzQ3LjUiTiA3NcKwNDUnMDMuNSJX!5e0!3m2!1sen!2sus!4v1559086315489!5m2!1sen!2sus" width="350" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>

<br><br><br><br><br>

<div style="text-align:center; color:white"> Copyright 2019 - Mugridge Lab - University of Delaware </div>

<br><br><br>
	
    </div>
  </div>
</section>