<div id="{{section.group}}" class="section-anchor scrollspy"></div>

<section id="{{section.group}}" class="row-full scrollspy" style="background-color:{{section.bgcolor}}">
  <div class="container">
    <div class="row">
      <div class="col s12">
        {{section.content}}

        <div style="text-align: center">
          <br><br>


          <!-- Row 1 -->

          <div class="row">
            <div class="col s12 m6">

<blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:xfdokkjd2epq7lbno64ilraq/app.bsky.feed.post/3lf3kq3y3zc2d" data-bluesky-cid="bafyreigetxxwgacfe2uqduxp5zp7dammuow2simrjvbk4zfygsos7rg324"><p lang="en">Big milestones - this year we said goodbye to the first two PhD grads from our lab! Now Drs. Angel D&#x27;Oliviera and Evan Geissler!👩‍🎓👨‍🎓 🎉

We also started a new lab tradition - PhD swords! ⚔️ Pictured is Angel&#x27;s engraved sword with her Mpro-TRMT1 structure!<br><br><a href="https://bsky.app/profile/did:plc:xfdokkjd2epq7lbno64ilraq/post/3lf3kq3y3zc2d?ref_src=embed">[image or embed]</a></p>&mdash; Mugridge Lab (<a href="https://bsky.app/profile/did:plc:xfdokkjd2epq7lbno64ilraq?ref_src=embed">@mugridgelab.bsky.social</a>) <a href="https://bsky.app/profile/did:plc:xfdokkjd2epq7lbno64ilraq/post/3lf3kq3y3zc2d?ref_src=embed">Jan 6, 2025 at 11:32 AM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>

            </div>
            <div class="col s12 m6">

<blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:xfdokkjd2epq7lbno64ilraq/app.bsky.feed.post/3lex2ysiln52w" data-bluesky-cid="bafyreihjpataa6bz62hljszme2b7pdduv24n7u2vuolxm4alpj7gdtv4xu"><p lang="">This week we said farewell to our amazing undergrad Sophie Olson! Sophie did fantastic work in our lab and is graduating with a BS in Biochemistry! Congrats!🎉 Next up, Sophie will be killing it in the Molecular, Cellular, &amp; Integrative Biosciences PhD program @PennState!<br><br><a href="https://bsky.app/profile/did:plc:xfdokkjd2epq7lbno64ilraq/post/3lex2ysiln52w?ref_src=embed">[image or embed]</a></p>&mdash; Mugridge Lab (<a href="https://bsky.app/profile/did:plc:xfdokkjd2epq7lbno64ilraq?ref_src=embed">@mugridgelab.bsky.social</a>) <a href="https://bsky.app/profile/did:plc:xfdokkjd2epq7lbno64ilraq/post/3lex2ysiln52w?ref_src=embed">Jan 4, 2025 at 4:40 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>

            </div>
          </div>

          <!-- Row 2 -->

          <div class="row">
            <div class="col s12 m6">

<blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:xfdokkjd2epq7lbno64ilraq/app.bsky.feed.post/3lex2yxh7wb2e" data-bluesky-cid="bafyreifg6j65d2ojnm6olfxq6ffxkl6u5g7agjiqjimsy3nsibdurj2hfm"><p lang="">We finally got out and celebrated our lab&#x27;s recent NSF CAREER award today with a lab bowling and laser tag trip! Pew pew! 🔫🎳<br><br><a href="https://bsky.app/profile/did:plc:xfdokkjd2epq7lbno64ilraq/post/3lex2yxh7wb2e?ref_src=embed">[image or embed]</a></p>&mdash; Mugridge Lab (<a href="https://bsky.app/profile/did:plc:xfdokkjd2epq7lbno64ilraq?ref_src=embed">@mugridgelab.bsky.social</a>) <a href="https://bsky.app/profile/did:plc:xfdokkjd2epq7lbno64ilraq/post/3lex2yxh7wb2e?ref_src=embed">Jan 4, 2025 at 4:40 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>

            </div>
            <div class="col s12 m6">

<blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:xfdokkjd2epq7lbno64ilraq/app.bsky.feed.post/3lex2yz3uyk2f" data-bluesky-cid="bafyreidh5c4pfirootehxtdifff3nc7rlokfofebuodbfjkwbqdt3twjji"><p lang="">Very excited that the @NSF CAREER will fund our lab&#x27;s projects studying mechanisms of really cool tRNA-modifying metalloenzymes starting this year! Huge thanks to Evan &amp; Youmna who got awesome preliminary data for this proposal! We hope to share work from these projects soon! 😀<br><br><a href="https://bsky.app/profile/did:plc:xfdokkjd2epq7lbno64ilraq/post/3lex2yz3uyk2f?ref_src=embed">[image or embed]</a></p>&mdash; Mugridge Lab (<a href="https://bsky.app/profile/did:plc:xfdokkjd2epq7lbno64ilraq?ref_src=embed">@mugridgelab.bsky.social</a>) <a href="https://bsky.app/profile/did:plc:xfdokkjd2epq7lbno64ilraq/post/3lex2yz3uyk2f?ref_src=embed">Jan 4, 2025 at 4:40 PM</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>

            </div>
          </div>

          <br><br>

        </div>
      </div>
    </div>
  </div>
</section>
