<div id="index-banner" class="parallax-container valign-wrapper">

    <div class="container">
      <div class="row center">
        <h1 class="header col m12 s12 parallax-header"  style="color:black; text-align:left;"">{{page.title}}</h1>
        <h4 class="header col m7 s12 parallax-subheader"  style="color:black; text-align:left;"">{{page.subtitle}}</h4>
      </div>
    </div>
  <div class="parallax"><img src={{site.baseurl}}{{page.banner}} class="banner-img" alt="Banner Image"></div>
</div>
